<header id="header">
    <div class="area-header">
        <div class="logo">
            <img src="assets/imagens/logo/Lumen_Logo.png" alt="Lumen Logo">
        </div>
        <nav id="navegation">
            <ul>
                <li>
                    <a href="#">Demos</a>
                    <img [src]="'assets/icones/chevron-down.svg'" alt="" class="chevron-down">
                </li>
                <li>
                    <a href="#">About Us</a>
                    <img [src]="'assets/icones/chevron-down.svg'" alt="" class="chevron-down">
                </li>
                <li>
                    <a href="#">Portifolio</a>
                    <img [src]="'assets/icones/chevron-down.svg'" alt="" class="chevron-down">
                </li>
                <li>
                    <a href="#">Shop</a>
                </li>
                <li>
                    <a href="#">Contato/Suporte</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

