
#header{
    /* border: 1px solid green; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cl-tema);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.area-header{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.btnMenu{
    /* border: 1px solid red; */
    display: none;
    width: 100%;
    max-width: 80px;
    height: max-content;
    position: fixed;
    padding: 10px;
    top: 10px;
    left: 10px;
    z-index: 3;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px var(--cl-descricao));
}

.btnMenu img{
    width: 100%;
    object-fit: contain !important;
}

.btnClose{
    /* border: 1px solid red; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: max-content;
    position: fixed;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
}

.btnClose img{
    width: 100%;
    object-fit: contain !important;
}

.logo{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 70px;
    object-fit: contain;
}

.logo img{
    width: 100%;
    object-fit: cover;
    filter: brightness(700%);
}

#navegation{
    /* border: 1px solid blue; */
    padding: 20px;
    width: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegation ul{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

#navegation ul li{
    /* border: 1px solid red; */
    padding: 5px;
    display: flex;
}

#navegation ul li a{
    /* border: 1px solid red; */
    padding: 5px 20px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#navegation ul li a:hover{
    /* border: 1px solid red; */
    padding: 5px 20px;
    font-weight: 900;
    color: black;
    transition: 0.3s;
}

#navegation ul .login a{
    border: 2px solid white;
    border-radius: 5px;
}

#navegation ul .login a:hover{
    color: white;
    filter: invert();
}

.chevron-down{
    width: 20px;
    transition: 1s;
    filter: invert();
}

#navegation ul li a:hover ~ .chevron-down{
    transform: rotate(180deg);
    transition: 1s;
}


@media screen and (max-width: 920px) {
    .btnMenu{
        display: flex;
    }

    .btnClose{
        display: flex;
    }

    #header{
        border: 1px solid red;
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -950px;
    }

    .area-header{
        border: 1px solid red;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    #navegation ul{
        border: 1px solid red;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}