<header id="header">
    <div class="area-header">
        <div class="logo">
            <img ngSrc="/assets/imagens/logo/Lumen_Logo.png" priority="true" alt="e" width="100" height="100">
        </div>
        <nav id="navegation">
            <ul>
                <li>
                    <a routerLink="#">Demos</a>
                    <img [src]="'assets/icones/chevron-down.svg'" alt="" class="chevron-down">
                </li>
                <li>
                    <a routerLink="#">About Us</a>
                    <img [src]="'assets/icones/chevron-down.svg'" alt="" class="chevron-down">
                </li>
                <li>
                    <a routerLink="#">Portifolio</a>
                    <img [src]="'assets/icones/chevron-down.svg'" alt="" class="chevron-down">
                </li>
                <li>
                    <a routerLink="#">Shop</a>
                </li>
                <li>
                    <a routerLink="#">Contato/Suporte</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

