
#header{
    /* border: 1px solid green; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cl-tema);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.area-header{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.logo{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 70px;
    object-fit: contain;
}

.logo img{
    width: 100%;
    object-fit: cover;
    filter: brightness(700%);
}

#navegation{
    /* border: 1px solid blue; */
    padding: 20px;
    width: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegation ul{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

#navegation ul li{
    /* border: 1px solid red; */
    padding: 5px;
    display: flex;
}

#navegation ul li a{
    /* border: 1px solid red; */
    padding: 5px 20px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#navegation ul li a:hover{
    /* border: 1px solid red; */
    padding: 5px 20px;
    font-weight: 900;
    color: black;
    transition: 0.3s;
}

#navegation ul .login a{
    border: 2px solid white;
    border-radius: 5px;
}

#navegation ul .login a:hover{
    color: white;
    filter: invert();
}

.chevron-down{
    width: 20px;
    transition: 1s;
    filter: invert();
}

#navegation ul li a:hover ~ .chevron-down{
    transform: rotate(180deg);
    transition: 1s;
}

