<div class="vantagens">
    <div class="container-topo">
        <div class="titulo" data-aos="fade">
            <h2>Fintech128 is here to assist you <br> with your payments and <br> financial needs.</h2>
        </div>

        <div class="area-btn" data-aos="fade">
            <btn-primary 
                btn-text="About Us" 
                variant="secundary" 
                route=""    
            ></btn-primary>
        </div>
    </div>
    <div class="container-middle">
        <div class="box-img" data-aos="fade">
            <img src="assets/imagens/artes_IA/App_Lumen_Tela_Inicial.png
            " alt="tela Iphone Lumen">
        </div>
        <div class="box-content">
            <div class="box" data-aos="fade-right" data-aos-delay="100">
                <div class="numero">1</div>
                <div class="titulo">
                    <p>You are not charged taxes for every individual transaction</p>
                    <div class="texto">
                        <p>Increase your earnings without worrying about fees or transaction taxes. This approach benefits everyone involved.</p>
                    </div>
                </div>
            </div>
            <div class="box" data-aos="fade-right" data-aos-delay="300">
                <div class="numero">2</div>
                <div class="titulo">
                    <p>Experience worry-free transactions with ease and safety</p>
                    <div class="texto">
                        <p>Boost your income without concerns about fees or transaction taxes. This approach benefits all parties involved.</p>
                    </div>
                </div>
            </div>
            <div class="box" data-aos="fade-right" data-aos-delay="500">
                <div class="numero">3</div>
                <div class="titulo">
                    <p>Ideal for individuals and businesses alike</p>
                    <div class="texto">
                        <p>Elevate your earnings without any worries regarding fees or transaction taxes. This approach brings advantages to all parties.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>