
@keyframes efeito1 {
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateY(-100px);
    }
}


.vantagens{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-topo{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 5px 10px;
    margin: 0 50px;
}

.container-middle{
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 100px;
}

.box-content{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 50px;
    padding-top: 40px;
}

.box{
    /* border: 1px solid green; */
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: var(--cl-BKgray);
    width: 100%;
    /* max-width: 800px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.box-img{
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    height: max-content;
    max-width: max-content;
    min-width: max-content;
}

.box-img img{
    width: 100%;
    object-fit: contain;
}

.box-img::before{
    content: "";
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    background-color: var(--cl-tema);
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    filter: blur(30px);
    animation: efeito1 4s infinite ease-in-out alternate;
}



.numero{
    border: 1px dashed var(--cl-tema);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 40px;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 1090px){
    .vantagens .hide{
        display: flex;
    }
    .container-topo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .container-topo .titulo{
        text-align: center;
    }

    .container-topo btn-primary{
        display: none;
    }

    .container-middle{
        flex-direction: column;
        padding: 0 30px 50px 0;
    }

    .container-middle .box-img{
        display: none;
    }

    .container-middle .box{
        width: 100%;
    }

}