
.area-capa{
    /* border: 1px solid red; */
    position: relative;
    padding: 100px 0;
    background-color: var(--cl-BKgray);
}

.area-vantagem{
    /* border: 1px solid red; */
    padding: 100px 0;
    
}

.limite{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
}