:root{
    --cl-gray: #f2f5fa;
    --cl-BKgray: rgb(236, 236, 236);
    /* --cl-tema: #264891; */
    --cl-tema: #3B5A9C;
    --color3: #269199;
    --color4: #ec225e;
    --cl-titulo: #101828;
    --cl-descricao: #414a58;

    /* Tamanhos base de fontes */
    --fs-small: clamp(0.8rem, 1vw, 1rem);   /* textos pequenos */
    --fs-base: clamp(1rem, 1.2vw, 1.125rem); /* corpo do texto */
    --fs-medium: clamp(1.25rem, 2vw, 1.5rem); /* subtítulos */
    --fs-large: clamp(1.75rem, 3vw, 2.5rem); /* títulos médios */
    --fs-xlarge: clamp(2rem, 5vw, 4rem);     /* títulos principais */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p{
    font-size: var(--fs-base);
    line-height: 1.5;
}

.hide{
    display: none;
}

.titulo{
    padding: 5px;
    text-align: left;
    color: var(--cl-titulo);
    width: 100%;
    max-width: 727px;
}

.titulo p{
    font-size: var(--fs-medium);
    font-weight: 500;
    color: var(--cl-titulo);
}

.titulo h1{
    font-size: var(--fs-xlarge);
    font-weight: 700;
    color: var(--cl-titulo);
}

.titulo h2{
    font-size: var(--fs-large);
    font-weight: 600;
    color: var(--cl-titulo);
}

.sub-titulo{
    padding: 5px;
    text-align: left;
    color: var(--cl-descricao);
}

.sub-titulo p{
    font-weight: 300;
    font-size: var(--fs-large);
}

.texto{
    font-size: var(--fs-large); /* removi o 250px */
    font-weight: 500;
    width: 100%;
}

.texto p{
    font-size: var(--fs-medium);
    font-weight: 400;
    color: var(--cl-descricao);
}

.max-width{
    max-width: 300px;
}
