<div class="area-company">
    <div class="company">
        <div class="titulo">
            <h1>Solutions for <br> Business Finance</h1>
        </div>
        <div class="sub-titulo">
            <p>Fintech128 is an innovative fintech company leading the way in transforming the financial industry.</p>
        </div>
        <div class="area-form">
            <form [formGroup]="newsletterForm" id="form-email">
                <input 
                    formControlName="email"
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="Enter your email address">

                <btn-primary 
                    btn-text="->" 
                    variant="primary" 
                    (submit)="onSubmit()"
                ></btn-primary>
            </form>
            <div class="sub-titulo">
                <p>We care about your data in our <a href="#">privacy policy</a></p>
            </div>
        </div>
    </div>
    <div class="area-capa">
        <img ngSrc="assets/imagens/artes_IA/cards.png" alt="Cards images" width="500" height="500">
    </div>
</div>