<div class="area-company">
    <div class="company">
        <div class="titulo">
            <h1>Solutions for <br> Business Finance</h1>
        </div>
        <div class="sub-titulo">
            <p>Fintech128 is an innovative fintech company leading the way in transforming the financial industry.</p>
        </div>
        <div class="area-form">
            <form id="form-email" action="#" method="get" enctype="application/x-www-form-urlencoded">
                <input type="email" placeholder="Enter your email address">
                <input type="submit" value="">
            </form>
            <div class="sub-titulo">
                <p>We care about your data in our <a href="#">privacy policy</a></p>
            </div>
        </div>
    </div>
    <div class="area-capa">
        <img [src]="'assets/imagens/artes_IA/cards.png'" alt="">
    </div>
</div>